<div class="row full-width sales-pitch">
  <div class="row">
  <div class="small-12 medium-4 columns animatedParent">
    <div class="animated bounceInLeft">
    <i class="flaticon-service"></i>
    <h2>Quality services</h2>
    <p>We pride ourselves on supplying the best quality of service to all of our customers</p>
    <a href="#" class="button">See more</a>
  </div>
  </div>
  <div class="small-12 medium-4 columns animatedParent">
    <div class="animated bounceInUp">
    <i class="flaticon-cogs"></i>
    <h2>Industry experience</h2>
    <p>We're experts in our field. With over 30 years experience you can be sure you're in safe hands</p>
    <a href="#" class="button">See more</a>
  </div>
  </div>
  <div class="small-12 medium-4 columns animatedParent">
    <div class="animated bounceInRight">
    <i class="flaticon-client"></i>
    <h2>Customer satisfaction</h2>
    <p>Our customers are always happy with the level of quality, support and service they receieve from us.</p>
    <a href="#" class="button">See more</a>
  </div>
  </div>
</div>
</div>
<hr />

