<div class="row full-width">
  <div class="small-12 small-centered columns home-banner">
    <ul data-orbit data-options="slide_number: false; animation: 'fade'; bullets: false; animation_speed: 300;">
      <li>
      <h2>From business cards to custom t-shirts we have you covered</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum leo est, nec fringilla turpis rutrum facilisis. Maecenas at placerat orci, sed varius nisl. Ut pellentesque convallis maximus. Proin eget lectus urna. Curabitur in dui molestie, accumsan diam nec, sagittis ex.</p>
      <a href="#" class="button radius large-3">Get in touch</a>
      <%= image_tag "banner.jpg" %>
      </li>
      <li>
      <h2>Custom t-shirt printing</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum leo est, nec fringilla turpis rutrum facilisis. Maecenas at placerat orci, sed varius nisl. Ut pellentesque convallis maximus. Proin eget lectus urna. Curabitur in dui molestie, accumsan diam nec, sagittis ex.</p>
      <a href="#" class="button radius large-3">See more</a>
      <%= image_tag "banner2.gif" %>
      </li>
      <li>
      <h2>Get a display made</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum leo est, nec fringilla turpis rutrum facilisis. Maecenas at placerat orci, sed varius nisl. Ut pellentesque convallis maximus. Proin eget lectus urna. Curabitur in dui molestie, accumsan diam nec, sagittis ex.</p>
      <a href="#" class="button radius large-3">Take a look</a>
      <%= image_tag "banner.jpg" %>
      </li>
    </ul>
  </div>
</div>
<hr />

