<div class="row full-width animatedParent" id="testimonials">
  <div class="row animated bounceInRight">
    <div class="small-12 small-centered columns">
      <h3>Testimonials</h3>
    <div class="large-4 small-12 columns">
      <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius fringilla odio, at auctor ipsum egestas id.</p>
      <hr />
      <div class="large-10 small-12 small-centered columns person">
      <%= image_tag "testimonial.jpg" %>
      <p>
        <span class="name">John Williams</span>
        <span class="satisfied">Satisfied customer</span>
      </p>
      </div>
    </div>
    <div class="large-4 small-12 columns">
      <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius fringilla odio, at auctor ipsum egestas id.</p>
      <hr />
      <div class="large-10 small-12 small-centered columns person">
      <%= image_tag "testimonial2.jpg" %>
      <p>
        <span class="name">Kim Jones</span>
        <span class="satisfied">Satisfied customer</span>
      </p>
      </div>
    </div>
    <div class="large-4 small-12 columns">
      <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius fringilla odio, at auctor ipsum egestas id.</p>
      <hr />
      <div class="large-10 small-12 small-centered columns person">
      <%= image_tag "testimonial3.jpg" %>
      <p>
        <span class="name">Steve Smith</span>
        <span class="satisfied">Satisfied customer</span>
      </p>
      </div>
    </div>
  </div>
  </div>
</div>
<hr />

