<div class="row">
  <div class="medium-6 small-12 small-centered columns contact">
    <label>Name
      <input type="text" placeholder="John Smith" />
    </label>
    <label>Email
      <input type="text" placeholder="enquiry@myemail.com" />
    </label>
    <label>Phone number (optional)
      <input type="text" placeholder="07789654221" />
    </label>
    <label>Message
      <textarea rows="4" cols="50" placeholder="Type your message here..."></textarea>
    </label>
    <input type="submit" class="button radius small-12" value="Send message" />
  </div>
</div>
