<div class="row full-width">
  <div class="small-12 columns home-banner-bg">
    <div class="row">
      <div class="small-12 columns">
        <div class="banner-img"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h1>Welcome to our website</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum leo est, nec fringilla turpis rutrum facilisis. Maecenas at placerat orci, sed varius nisl. Ut pellentesque convallis maximus. Proin eget lectus urna. Curabitur in dui molestie, accumsan diam nec, sagittis ex. In fermentum eleifend neque dapibus cursus. Suspendisse porta libero at vestibulum volutpat. Nullam at rhoncus urna, sit amet eleifend lacus.</p>
  </div>
</div>
