<div class="home">
<div class="row full-width">
  <div class="small-12 small-centered columns home-banner">
    <ul data-orbit data-options="slide_number: false; animation: 'fade'; bullets: false; animation_speed: 300;">
      <li>
      <h2>From business cards to custom t-shirts we have you covered</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum leo est, nec fringilla turpis rutrum facilisis. Maecenas at placerat orci, sed varius nisl. Ut pellentesque convallis maximus. Proin eget lectus urna. Curabitur in dui molestie, accumsan diam nec, sagittis ex.</p>
      <a href="#" class="button radius large-3">Get in touch</a>
      <%= image_tag "banner.jpg" %>
      </li>
      <li>
      <h2>Custom t-shirt printing</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum leo est, nec fringilla turpis rutrum facilisis. Maecenas at placerat orci, sed varius nisl. Ut pellentesque convallis maximus. Proin eget lectus urna. Curabitur in dui molestie, accumsan diam nec, sagittis ex.</p>
      <a href="#" class="button radius large-3">See more</a>
      <%= image_tag "banner2.gif" %>
      </li>
      <li>
      <h2>Get a display made</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum leo est, nec fringilla turpis rutrum facilisis. Maecenas at placerat orci, sed varius nisl. Ut pellentesque convallis maximus. Proin eget lectus urna. Curabitur in dui molestie, accumsan diam nec, sagittis ex.</p>
      <a href="#" class="button radius large-3">Take a look</a>
      <%= image_tag "banner.jpg" %>
      </li>
    </ul>
  </div>
</div>
<hr />

<div class="row sales-pitch">
  <div class="small-12 medium-4 columns animatedParent">
    <div class="animated bounceInLeft">
    <i class="flaticon-service"></i>
    <h2>Quality services</h2>
    <p>We pride ourselves on supplying the best quality of service to all of our customers</p>
    <a href="#" class="button">See more</a>
  </div>
  </div>
  <div class="small-12 medium-4 columns animatedParent">
    <div class="animated bounceInUp">
    <i class="flaticon-cogs"></i>
    <h2>Industry experience</h2>
    <p>We're experts in our field. With over 30 years experience you can be sure you're in safe hands</p>
    <a href="#" class="button">See more</a>
  </div>
  </div>
  <div class="small-12 medium-4 columns animatedParent">
    <div class="animated bounceInRight">
    <i class="flaticon-client"></i>
    <h2>Customer satisfaction</h2>
    <p>Our customers are always happy with the level of quality, support and service they receieve from us.</p>
    <a href="#" class="button">See more</a>
  </div>
  </div>
</div>
<hr />
<div class="row full-width services">
  <div class="small-12 small-centered columns services-container animatedParent">
    <div class="animated bounceInLeft">
    <h3>T-shirt printing, charity vests, displays, flyers and much more</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum leo est, nec fringilla turpis rutrum facilisis. Maecenas at placerat orci, sed varius nisl. Ut pellentesque convallis maximus. Proin eget lectus urna. Curabitur in dui molestie, accumsan diam nec, sagittis ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum leo est, nec fringilla turpis rutrum facilisis. Maecenas at placerat orci, sed varius nisl. Ut pellentesque convallis maximus. Proin eget lectus urna. Curabitur in dui molestie, accumsan diam nec, sagittis ex.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum leo est, nec fringilla turpis rutrum facilisis. Maecenas at placerat orci, sed varius nisl. Ut pellentesque convallis maximus. Proin eget lectus urna. Curabitur in dui molestie, accumsan diam nec, sagittis ex.</p>
    </div>
  </div>
</div>
</div>
