<div class="home">

  <%= render "slider" %>
  <%= render "sales_pitch" %>
  <%= render "testimonials" %>



<div class="row full-width services-text">
  <div class="small-12 small-centered columns services-text-container animatedParent">
    <div class="animated bounceInLeft">
    <h3>T-shirt printing, charity vests, displays, flyers and much more</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum leo est, nec fringilla turpis rutrum facilisis. Maecenas at placerat orci, sed varius nisl. Ut pellentesque convallis maximus. Proin eget lectus urna. Curabitur in dui molestie, accumsan diam nec, sagittis ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum leo est, nec fringilla turpis rutrum facilisis. Maecenas at placerat orci, sed varius nisl. Ut pellentesque convallis maximus. Proin eget lectus urna. Curabitur in dui molestie, accumsan diam nec, sagittis ex.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum leo est, nec fringilla turpis rutrum facilisis. Maecenas at placerat orci, sed varius nisl. Ut pellentesque convallis maximus. Proin eget lectus urna. Curabitur in dui molestie, accumsan diam nec, sagittis ex.</p>
    </div>
  </div>
</div>
</div>
