<div class="row full-width">
  <div class="small-12 columns home-banner-bg">
    <div class="row">
      <div class="small-12 columns">
        <div class="banner-img"></div>
      </div>
    </div>
  </div>
</div>
