<div class="row full-width services">
  <div class="small-12 small-centered columns">
    <h1>Sublimation</h1>
    <%= image_tag "banner.jpg" %>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempus tellus id enim dignissim egestas. Fusce condimentum lorem sit amet elementum venenatis. Duis ut tortor nibh. Suspendisse non massa auctor, dignissim est nec, dictum leo. Duis libero lorem, vestibulum sed elementum vel, ornare luctus dui. Vestibulum sit amet leo vitae dui interdum pulvinar sit amet eget justo</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempus tellus id enim dignissim egestas. Fusce condimentum lorem sit amet elementum venenatis. Duis ut tortor nibh. Suspendisse non massa auctor, dignissim est nec, dictum leo. Duis libero lorem, vestibulum sed elementum vel, ornare luctus dui. Vestibulum sit amet leo vitae dui interdum pulvinar sit amet eget justo</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempus tellus id enim dignissim egestas. Fusce condimentum lorem sit amet elementum venenatis. Duis ut tortor nibh. Suspendisse non massa auctor, dignissim est nec, dictum leo. Duis libero lorem, vestibulum sed elementum vel, ornare luctus dui. Vestibulum sit amet leo vitae dui interdum pulvinar sit amet eget justo</p>
  </div>
</div>
