// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Table of Contents
// List of classes and ids
//
// a.   Overriding styles
// 01.  Colors
// 02.  Re-usable classes
// 03.  Top contact info
// 04.  Navigation
// 05.  Homepage banner
// 06.  Footer


// a. Overriding styles

body {
  font-size: 0.9em
}

h1, h2, h3, h4, h5, span {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 1em;
}

// 01. Colors

$white          : #FFFFFF;
$ghost          : #FAFAFA;
$snow           : #F9F9F9;
$vapor          : #F6F6F6;
$white-smoke    : #F5F5F5;
$silver         : #EFEFEF;
$smoke          : #EEEEEE;
$gainsboro      : #DDDDDD;
$iron           : #CCCCCC;
$base           : #AAAAAA;
$aluminum       : #999999;
$jumbo          : #888888;
$monsoon        : #777777;
$steel          : #666666;
$charcoal       : #555555;
$tuatara        : #444444;
$oil            : #333333;
$jet            : #222222;
$black          : #000000;
$picton-blue    : #22A7F0;
$curious-blue   : #3498DB;

$ebony-clay     : #22313F;

// 02. Re-usable classes

.row {
  &.full-width {
    max-width: 100% !important;
    .row {
      margin: 0 auto;
    }
  }
}

// 03. Top contact info
// Styling for contact info above navigation bar

.top-contact-info {
  color: $charcoal;
  padding: 0.5em; 
}

.phone-number, .email {
  color: $jet;
}

.contact-time {
  font-size: 0.9em;
}

// 04. Navigation


// 05. Hompage banner

.home-banner-bg {
 background: linear-gradient(to bottom, $picton-blue 0%, $curious-blue 100%);
 margin: 0;
 padding: 0;
 box-shadow: inset 0px 11px 8px -10px $ebony-clay, inset 0px -11px 8px -10px $curious-blue; 
  max-width: 100%;
}

.banner-img {
  background-image: image-url("tshirt.png"); 
  height: 400px;
  width: 396px;
  position: relative;
  float: right;
}

.banner-text {
  color: $ghost;
  font-size: 1.7em;
  padding: 1em;
  z-index: 10;
  position: absolute;
  h3 {
    background-color: $ghost;
    margin: 0 auto;
    margin-bottom: 0.3em;
    color: $picton-blue;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 0.2em;
  }
  p {
    color: $ghost;
    font-family: 'Merriweather', serif;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    line-height: 1.3em;
  }
}

// 06. Footer

.footer {
  background-color: $oil;
  color: $ghost;
  //padding: 1em;
  p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8em;
  }
}

.footer-nav {
  text-align: center;
  background: $jet;
  padding: 1em;
  ul {
    margin: 0;
  }
  li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 0 0.5em 0 0.5em;
  } 
  a {
    color: $ghost;
    margin: 0.2em;
    padding: 0.3em;
    &:hover {
      color: $picton-blue;
    }
  }
}

// Repsonsive styling

@media screen and (max-width: 700px) {
  .banner-img {
    background-image: image-url("tshirt-small.png"); 
    width: 200px;
    height: 213px;
    position: relative;
  }
  .banner-text {
    padding: 0.2em;
    p {
      font-size: 0.8em;
      padding: 0.2em;
      margin: 0;
      text-align: center;
    }
  }
}

@media screen and (max-width: 380px) {
}

