// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Table of Contents
// List of classes and ids
//
// a.   Overriding styles
// 01.  Colors
// 02.  Re-usable classes
// 03.  Top contact info
// 04.  Navigation
// 05.  Homepage banner
// 06.  Footer
// 07.  Bottom contact info
// 08.  Slider


$light-gray     : #97aebf;
$darker-gray    : #698092;
$primary-color: #6bbcf9;
$footer-gray: #303842;
// a. Overriding styles

body {
  font-size: 0.9em;
  //max-width: 1366px;
  margin: 0 auto;
  background: #f7fafc;
  color: $darker-gray;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, span {
  font-family: 'Open Sans', sans-serif;
  color: $darker-gray;
}

p {
  font-size: 1em;
}

hr {
  color: #698092;
  padding: 0;
  margin: 0;
}

.home {
  overflow: hidden;
}

// 01. Colors

$white          : #FFFFFF;
$ghost          : #FAFAFA;
$snow           : #F9F9F9;
$vapor          : #F6F6F6;
$white-smoke    : #F5F5F5;
$silver         : #EFEFEF;
$smoke          : #EEEEEE;
$gainsboro      : #DDDDDD;
$iron           : #CCCCCC;
$base           : #AAAAAA;
$aluminum       : #999999;
$jumbo          : #888888;
$monsoon        : #777777;
$steel          : #666666;
$charcoal       : #555555;
$tuatara        : #444444;
$oil            : #333333;
$jet            : #222222;
$black          : #000000;
$picton-blue    : #22A7F0;
$curious-blue   : #3498DB;

$ebony-clay     : #22313F;

$google-plus        : #d34836;
$google-plus-hover  : darken($google-plus, 10%);
$twitter            : #4099FF;
$twitter-hover      : darken($twitter, 10%);
$facebook           : #3b5998;
$facebook-hover     : darken($facebook, 10%);

// 02. Re-usable classes

.row {
  &.full-width {
    max-width: 100% !important;
    .row {
      margin: 0 auto;
    }
  }
}

.column, .columns {
  max-width: 1200px;
}

.button {
  box-shadow: 0 4px 0 #4b9edc;
}

// 03. Top contact info
// Styling for contact info above navigation bar

.top-contact-info {
  color: $charcoal;
  padding: 0.5em;
  line-height: 3em;
}

.phone-number, .email {
  color: $jet;
}

.contact-time {
  font-size: 0.9em;
}

.top-social-icons {
  text-align: right;
  a:before {
    font-size: 2.5em;
  }
  .flaticon-google-plus {
    color: $google-plus;
    &:hover {
      color: $google-plus-hover;
    }
  }
  .flaticon-facebook {
    color: $facebook;
    &:hover {
      color: $facebook-hover;
    }
  }
  .flaticon-twitter {
    color: $twitter;
    &:hover {
      color: $twitter-hover;
    }
  }
}

// 04. Navigation

 .top-bar { 
 margin: 0 auto;
 margin-bottom: 2em;
 padding: 1em 0 1em 0;
 max-width: 1200px;
 li {
   a {
    font-size: 1.5em;
    }
   }
  h1 {
    a {
      color: $darker-gray !important;
      padding-bottom: 1em;
    }
  }
}

.nav-hr {
  max-width: 1200px;
  background: #97aebf;
  margin: 0 auto;
  margin-bottom: 1em;
}

.container {
  display: block;
  width: 1100px;
 border-bottom: 1px solid #97aebf;
}

// 05. Hompage banner

.home-banner {
  text-align: center;
  max-width: 1100px;
  margin-top: 2em;
  img {
    display: block;
    max-width: 700px;
    margin: 0 auto;
  }
  ul {
    margin: 0 auto;
    padding: 0;
  }
  li {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
  }
  a {
    margin-top: 1em;
    margin-bottom: 2em;
  }
}

.orbit-container {
  &:hover {
    .orbit-prev, .orbit-next {
      background-color: $light-gray;
      transition: background 0.3s ease-in-out;
      border-radius: 1em;
    }
  }
}

.home-banner-bg {
 background: linear-gradient(to bottom, $picton-blue 0%, $curious-blue 100%);
 margin: 0;
 padding: 0;
 //box-shadow: inset 0px 11px 8px -10px $ebony-clay, inset 0px -11px 8px -10px $curious-blue; 
  max-width: 100%;
}

.banner-img {
  background-image: image-url("tshirt.png"); 
  height: 400px;
  width: 396px;
  position: relative;
  float: right;
}

.banner-text {
  padding: 0;
  margin: 0;
  z-index: 10;
  position: absolute;
  top: 5.5em;
  left: 7.5em;
  h3 {
    background-color: $ghost;
    margin: 0 auto;
    margin-bottom: 0.3em;
    color: $picton-blue;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 0.2em;
  }
  p {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    line-height: 1.3em;
  }
}

// 06. Footer

.footer {
  background-color: $footer-gray;
  color: $white;
  padding: 1em;
  h3 {
    color: $white;
    font-size: 1.1em;
    padding-bottom: 0;
  }
  p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9em;
    padding-top: 1.2em;
  }
  hr {
    color: darken($darker-gray, 70%) !important;
    background: darken($darker-gray, 70%) !important;
  }
  a {
    display: block;
  }
}

.footer-services {
  list-style-type: none;
  margin: 0;
}

.footer-content {
  border-bottom: 1px solid $darker-gray;
  margin: 0;
  padding: 1em 0 1em 0;
}

.footer-container {
  max-width: 1200px;
}

.footer-nav {
  text-align: center;
  background: $jet;
  padding: 1em;
  ul {
    margin: 0;
  }
  li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 0 0.5em 0 0.5em;
  } 
  a {
    color: $ghost;
    margin: 0.2em;
    padding: 0.3em;
    &:hover {
      color: $picton-blue;
    }
  }
}

.address {
  padding-top: 1em;
  p {
    padding: 0;
    margin: 0;
    color: $white;
  }
}

#map {
  height: 250px;
  margin: 0 auto;
  background-color: $white;
  max-width: 100%;
}

// 07. Bottom contact info

.bottom-contact-info {
  background: $gainsboro;
  text-align: center;
  padding: 1em;
  i {
    display: block;
  }
  i:before {
    font-size: 3em;
    margin-left: -5px;
  }
  a, span {
    padding: 0.5em 0.2em 0.5em 0.1em;
    font-size: 1.2em;
    width: 100%;
  }
  a {
    text-decoration: underline;
    font-weight: 600;
  }
}

.sales-pitch {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  h2 {
    font-size: 1.4em;
  }
  img {
    background: $primary-color;
    border-radius: 50%;
    padding: 1em;
    height: 10em;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  p {
    min-height: 5em;
  }
  i:before {
    font-size: 7em;
    color: $white;
    padding: 0.3em;
    border-radius: 50%;
    background-color: $primary-color;
  }
}

.services {
  background-color: $white;
  padding-top: 3em;
  padding-bottom: 3em;
}

.services-container {
  max-width: 1200px;
}

// 08. Slider

.slider {
  width: 600px;
  height: 300px;
  overflow: hidden;
    ul {
      /* styled by JS to match the added width and height of all <li>’s */
      position: relative;
      transition: 0.5s left;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        width: 600px;
        height: 300px;
        text-align: left;
        margin: 0;
        padding: 0;
      }
    }
}

// 09. Contact

.contact {
  padding: 1em;
}

.about {
  margin-top: 2em;
  margin-bottom: 2em;
  overflow: hidden;
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.8em;
  }
  img {
    margin-bottom: 2em;
    margin-top: 1em;
  }
}

// Repsonsive styling

@media screen and (max-width: 700px) {
  .banner-img {
    background-image: image-url("tshirt-small.png"); 
    width: 200px;
    height: 213px;
    position: relative;
  }
  .banner-text {
    padding: 0.2em;
    p {
      font-size: 0.8em;
      padding: 0.2em;
      margin: 0;
      text-align: center;
    }
  }
}

@media screen and (max-width: 380px) {
}

