<div class="row full-width bottom-contact-info">
  <div class="small-12 columns">
    <div class="small-6 columns">
      <i class="flaticon-phone"></i>
      <a href="tel:01912324232">+44 1323891</a>
      <span class="opening-time">Mon-Fri 8am-5pm</span>
    </div>
    <div class="small-6 columns">
      <i class="flaticon-mail"></i>
      <%= link_to "Contact", contact_path %>
    </div>
  </div>
</div>
