<div class="row full-width footer animatedParent">
  <div class="small-12 small-centered columns footer-container animated bounceInUp">
  <div class="small-12 medium-4 columns">
    <div class="row">
      <div class="small-12 columns footer-content">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempus tellus id enim dignissim egestas. Fusce condimentum lorem sit amet elementum venenatis. Duis ut tortor nibh. Suspendisse non massa auctor, dignissim est nec, dictum leo. Duis libero lorem, vestibulum sed elementum vel, ornare luctus dui. Vestibulum sit amet leo vitae dui interdum pulvinar sit amet eget justo</p>
      </div>
      <div class="small-12 columns footer-content footer-contact">
        <h3>FranklinPrint: Contact</h3>
        <a href="#" class="flaticon-phone">0123456789</a>
        <a href="#" class="flaticon-mail">contact@franklinprint.co.uk</a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-4 columns">
    <div class="small-12 columns footer-content">
      <h3>Services</h3>
      <ul class="footer-services">
        <li><a href="#">T-shirt printing</a></li>
        <li><a href="#">Workwear</a></li>
        <li><a href="#">Dye sublimation</a></li>
        <li><a href="#">Display printing</a></li>
        <li><a href="#">Charity vests</a></li>
      </ul>
    </div>
    <div class="small-12 columns footer-content">
      <h3>Locations</h3>
      <p>We supply to anywhere in Europe</p>
      <p>England, France, Italy, Spain, Germany, Poland, Sweden</p>
    </div>
  </div>
  <div class="small-12 medium-4 columns">
    <div class="small-12 columns footer-content">
      <h3>Map</h3>
      <div id="map"></div>
      <span class="address">
        <p>123 Fake Street</p>
        <p>City</p>
        <p>Country</p>
        <p>Post code</p>
      </span>
    </div>
  </div>
</div>
</div>
