<div class="row full-width footer">
    <div class="row">
      <div class="small-12 columns">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur commodo erat. Quisque ullamcorper eros sit amet orci vehicula dictum. Phasellus consectetur lobortis risus quis accumsan. Morbi commodo hendrerit porta. Pellentesque eu iaculis lorem. Suspendisse potenti. Maecenas hendrerit tortor eget commodo egestas. Cras porttitor nibh vitae erat tincidunt, vel porttitor augue tincidunt. Nam cursus nibh ut ex volutpat, ut ultricies tortor ultricies. Nunc sed turpis eget urna dapibus sollicitudin.
        </p>
        
      </div>
    </div>
    <div class="row full-width footer-nav">
      <div class="small-12 columns">
        <ul>
          <li><a href='#'>Home</a></li>
          <li><a href='#'>Categories</a></li>
          <li><a href='#'>About</a></li>
          <li><a href='#'>Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
