<div class="row">
  <div class="small-12 columns top-contact-info">
    <span>
      Contact us: 
    </span>
    <span class="phone-number">
      077712345
    </span>
    <span class="email">
      printing@email.com
    </span>
  </div>
</div>
