<div class="row">
  <div class="small-12 columns top-contact-info">
    <span>WANT TO GET IN TOUCH? Call free on </span>
    <span class="phone-number">0800 111 1111 </span>
    <span class="contact-time">(Mon-Fri, 8-6) </span> 
    <span>or email us at </span>
    <span class="email">printing@email.com</span>
  </div>
</div>
