<div class="row full-width">
  <div class="small-12 medium-4 columns top-social-icons right">
    <a href="#" class="flaticon-google-plus"></a>
    <a href="#" class="flaticon-twitter"></a>
    <a href="#" class="flaticon-facebook"></a>
  </div>
</div>
