<div class="row full-width">
  <div class="small-12 medium-8 columns top-contact-info">
    <span>WANT TO GET IN TOUCH? Call free on </span>
    <span class="phone-number">0800 111 1111 </span>
    <span class="contact-time">(Mon-Fri, 8-6) </span> 
    <span>or email us at </span>
    <span class="email">printing@email.com</span>
  </div>
  <div class="small-12 medium-4 columns top-social-icons">
    <a href="#" class="flaticon-google-plus"></a>
    <a href="#" class="flaticon-twitter"></a>
    <a href="#" class="flaticon-facebook"></a>
  </div>
</div>
